## 1.Import libraries

In [1]:
import pandas as pd
import numpy as np
import re

## 2. Load de data

In [2]:
df = pd.read_csv("../input/attacks.csv",encoding = "ISO-8859-1")
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [4]:
# How big is the dataset?
df.shape

(25723, 24)

**¿There are some nan instead of Na?**

### 2.1. Loking for NaN

In [5]:
#Percentage of NaN along rows
null_rows = df.isnull().sum(axis = 1).apply (lambda y: y/df.shape[1]).sort_values(ascending = False)
null_rows[:5]

# With this I have seen that there are many rows in  the data frame that do not have any data. In this way, I will eliminate 
    ## those rows that present a percentage of nulls = 1 to clean up the dataframe a bit.

12861    1.0
14368    1.0
14382    1.0
14381    1.0
14380    1.0
dtype: float64

In [6]:
# To remove this rows:
df_2 = df.dropna(axis = 0, how = "all")
df_2.shape

#The number of rows was reduced from 25723 to 8703

(8703, 24)

In [7]:
df_2.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [8]:
#Now I will check the percentage of NaN along columns
perc_null = df_2.isnull().sum().apply(lambda x: x/df_2.shape[0]).sort_values(ascending=False)

In [9]:
#Time to select a determined value to columns with high percentage of nulls and probably with posibilities to remove
perc_null[perc_null > 0.7]

#Given the high percentage of cells with NaN in these columns (Unnamed22n = 0.999885, Unnamed23 =  0.999770) i poceed to remove
    #them. In addition to these columns there are three more columns with bibliographic references that are not relevant for the 
    #task and i proceed to delet them too (pdf, href formula, href). 
    
df_3 = df_2.drop(['Unnamed: 22', 'Unnamed: 23', 'pdf', 'href formula', 'href'], axis = 1)

In [10]:
# Case Number and Date columns cointain the same information but with different structure. I proceed to remove one of them (Case
    #number column)

df_3 = df_3.drop(['Case Number'], axis = 1)
df_3.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09,2018.06.09,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08,2018.06.08,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04,2018.06.04,6299.0

In [11]:
# to avoid problems with spaces in columns names i replace the spaces with underscore 
df_3.columns = df_3.columns.str.replace(' ', '_') 
df_3.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time', 'Species_',
       'Investigator_or_Source', 'Case_Number.1', 'Case_Number.2',
       'original_order'],
      dtype='object')

### 2.2. Now is time to clean the selected columns. 

To realice this work I will work column by column to make them as clean as possible.

###### Date column ====> 25-Jun-2018
Along this column i am interested only in the month, because of the year is represented in the next column and the day it is not important for my hypothesis

In [12]:
# con esto saco solo los meses de toda la información que tengo en esta columna

df_3['Date'] = df_3['Date'].astype(str)
df_3["Date"] = df_3[df_3.columns[0]].apply(lambda x: re.findall(r'\b[A-Z]\w{2}\b', x))  

#Para quitar los corchetes de los valores:
df_3['Date'] = df_3['Date'].str.get(0)
df_3

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,Case_Number.1,Case_Number.2,original_order
0,Jun,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25,6303.0
1,Jun,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18,6302.0
2,Jun,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09,2018.06.09,6301.0
3,Jun,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08,2018.06.08,6300.0
4,Jun,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04,2018.06.04,6299.0
5,Jun,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b,2018.06.03.b,6298.0
6,Jun,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a,2018.06.03.a,6297.0
7,May,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27,2018.05.27,6296.0
8,May,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b,2018.05.26.b,6295.0
9,May,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a,2018.05.26.a,6294.0
10,May,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24,2018.05.24,6293.0
11,May,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,NaN,NaN,"C. Creswell, GSAF",2018.05.21,2018.05.21,6292.0
12,May,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,Severe bite to right forearm,N,15h00,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b,2018.05.13.b,6291.0
13,May,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a,2018.05.13.a,6290.0
14,May,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,NaN,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",2018.05.00,2018.05.00,6289.0
15,May,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,"Minor injury, marks on board",N,11h00,NaN,"B.Jacob, Dispatch Live, 5/12/2018",2018.05.12,2018.05.12,6288.0
16,May,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09,2018.05.09,6287.0
17,Apr,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,NaN,Minor injury to ankle,N,NaN,NaN,"K. McMurray, TrackingSharks.com",2018.04.30.R,2018.04.30.R,6286.0
18,Apr,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark,Costa Rica Star. 4/28/2018,2018.04.28.b,2018.04.28.b,6285.0
19,Apr,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,NaN,"No injury, knocked off board by shark",N,16h50,NaN,"B. Myatt, GSAF",2018.04.28.a,2018.04.28.a,6284.0
20,Apr,2018.0,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,NaN,No injury,N,07h00,Questionable,"B. Myatt, GSAF",2018.04.25.b,2018.04.25.b,6283.0
21,Apr,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,"No injury, knocked off board by shark",N,09h30,3 m shark,"B.Myatt, GSAF",2018.04.25.a,2018.04.25.a,6282.0
22,Apr,2018.0,Unprovoked,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,Nathan Burch,M,NaN,"No injury, shark struck his leg",N,Afternoon,"White shark, 3.5 m","B. Myatt, GSAF",2018.04.24,2018.04.24,6281.0
23,Apr,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,5-inch cut to hand,N,21h50,Tiger shark,"K. McMurray, TrackingSharks.com",2018.04.23,2018.04.23,6280.0
24,Apr,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,"No injury, shark bit hole in ski",N,09h40,"White shark, 2.5 m","Africa News Agency, 4/22/2018",2018.04.22,2018.04.22,6279.0
25,Apr,2018.0,Unprovoked,USA,Hawaii,"Shipwrecks Beach, Keoneloa Bay, Kauai",Body boarding,Dylan McWilliams,M,29,Lacerations to right lower leg,N,NaN,6' shark,"The Garden Island, 4/19/2018",2018.04.19,2018.04.19,6278.0
26,Apr,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,Werner Danielsen,M,54,Lacerations to foot and ankle,N,NaN,Juvenile bull shark,"Straits Times, 4/16/2018",2018.04.15.d,2018.04.15.d,6277.0
27,Apr,2018.0,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Pablo de Melo,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN,NaN,"Globo, 4/16/2018",2018.04.15.c,2018.04.15.c,6276.0
28,Apr,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",Surfing,Jason Longrass,M,41,Laceration to right thigh,N,NaN,NaN,"B.Myatt, GSAF",2018.04.15.b,2018.04.15.b,6275.0
29,Apr,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",Surfing,Alejandro Travaglini,M,37,Lacerations to legs,N,08h00,NaN,"B.Myatt, GSAF",2018.04.15.a,2018.04.15.a,6274.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###### Fatal column

In [13]:
df_3["Fatal_(Y/N)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [14]:
# Fisrt of all put everything in capital letters and remove possible spaces

df_3["Fatal_(Y/N)"] = df_3["Fatal_(Y/N)"].str.upper()
df_3["Fatal_(Y/N)"] = df_3["Fatal_(Y/N)"].str.strip()
df_3["Fatal_(Y/N)"].value_counts()

N          4301
Y          1389
UNKNOWN      71
M             1
2017          1
Name: Fatal_(Y/N), dtype: int64

In [15]:
# Given the doubtfulness of the rest of the veracity of the rest of the data, I will classify them all as NaN
df_3["Fatal_(Y/N)"] = df_3["Fatal_(Y/N)"].replace(['2017', 'M', 'UNKNOWN' ], np.nan)
df_3["Fatal_(Y/N)"].unique()

array(['N', 'Y', nan], dtype=object)

###### Type column

In [16]:
df_3["Type"].unique()
df_3["Type"]  = df_3["Type"].replace('Boat\w*', "Boat", regex = True)
df_3["Type"].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
Questionable       2
Name: Type, dtype: int64

###### Activity column

In [20]:
df_3["Activity"].unique()

df_3["Activity"]= df_3["Activity"].str.lower()

df_3["Activity"].value_counts()
df_3["Activity"] = df_3["Activity"].replace([".*fish.*",".*Fish.*", "angling" ], "Fish", regex = True)
df_3["Activity"] = df_3["Activity"].replace([".*surf.*","paddleskiing" ], "Surf", regex = True)
df_3["Activity"] = df_3["Activity"].replace([".*swim.*", "bathing", "fell into the water", "treading water", ".*float.*"], "Swim", regex = True)
df_3["Activity"] = df_3["Activity"].replace([".*diving.*",  ".*under.*", ".*film.*", "snorkeling"], "Diving", regex = True)
df_3['Activity'] = df_3["Activity"].replace(['.*kayak.*','.*ship.*', '.*boat.*','.*board.*', 'canoeing','rowing','sailing','fishing for mackerel'],'On_boat',regex=True)
df_3["Activity"] = df_3["Activity"].replace([".*shore*.", "treading for clams", "standing", "walking", ".*play*.", "wading"], "Seashore_act.", regex = True)
df_3['Activity'] = df_3["Activity"].replace(['.{,30} shark.','shark related act.*'],'Shark_related_act.',regex=True)

rare_act = df_3["Activity"].value_counts().loc[df_3['Activity'].value_counts() < 5].index
df_3.loc[df_3['Activity'].isin(rare_act),'Activity'] = 'Rare_act.'

df_3["Activity"].value_counts()

Swim                   1349
Surf                   1233
Fish                   1231
Diving                  620
rare_act.               523
On_boat                 484
Seashore_act.act.       272
shark_related_act.       19
sea disaster             14
Seashore_act.act.ng       7
murder                    6
Name: Activity, dtype: int64

###### Year column ====> 2018.0
The objective in this column is to keep only the year eliminating .0

In [18]:
print(type(df_3.loc[df_3.index[0], 'Year']))

<class 'numpy.float64'>

In [19]:
df_3['Year'] = df_3['Year'].replace('.0', ' ')
df_3.sample(10)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,Case_Number.1,Case_Number.2,original_order
5245,Jul,1921.0,Unprovoked,CUBA,NaN,Havana Harbor,On_boat,Robert Ellis,M,NaN,FATAL,Y,NaN,NaN,"Chicago Tribune, 7/22/1921",1921.07.21,1921.07.21,1058.0
3620,Jun,1965.0,Unprovoked,MEXICO,Veracruz,Mocambo,Swim,"Father Miguel de Jesus Chavez, a Catholic priest",M,38,"Right forearm severed, right leg bitten and su...",N,14h00,NaN,J. Carranza (This is apparently a different ca...,1965.06.09,1965.06.09,2683.0
7273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5923,Jan,1868.0,Sea Disaster,VIETNAM,NaN,Cohong,Diving,NaN,M,NaN,FATAL,Y,NaN,NaN,"Argus, 5/26/1868",1868.01.17,1868.01.17,380.0
2474,Sep,1993.0,Unprovoked,USA,Florida,"Huguenot Memorial Park, Duval County",Seashore_act.,Arthur Quick,M,19,Left foot bitten,N,NaN,3' shark,"Orlando Sentinel, 9/17/1993, p. B.6; Miami Her...",1993.09.14,1993.09.14,3829.0
6860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3036,Mar,1981.0,Unprovoked,USA,Florida,"Singer Island, Riviera Beach, Palm Beach County",Surf,Robert Thomas,M,24,Puncture wounds on right thigh,N,17h30,C. maculpinnis or C. limbatus,"M. Vorenberg, GSAF",1981.03.24,1981.03.24,3267.0
2370,Jul,1995.0,Unprovoked,USA,Florida,"South Jetty, New Smyrna Beach, Volusia County",On_boat,male,M,47,Foot bitten,N,NaN,NaN,"P. LaMee, Orlando Sentinel, 8/12/1995, p.D.1",1995.07.23,1995.07.23,3933.0
2177,Jul,1998.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surf,Michael Rinto,M,13,Calf bitten,N,P.M.,NaN,"S. Petersohn, GSAF; Orlando Sentinel, 7/24/199...",1998.07.25,1998.07.25,4126.0

###### Type column 
This column is OK

###### Country column
- There are countries and continents. To unify the contents I will work with continents

In [21]:
df_3['Country'].value_counts().head(20)

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
PHILIPPINES           61
REUNION               60
NEW CALEDONIA         53
CUBA                  46
MOZAMBIQUE            45
SPAIN                 44
INDIA                 40
EGYPT                 38
CROATIA               34
JAPAN                 34
Name: Country, dtype: int64

In [22]:
df_3['Country'] = df_3['Country'].str.strip()
df_3['Country'] = df_3['Country'].str.lower()
df_3['Country'].replace(to_replace=['.*OCEAN','.* SEA'],value=np.nan,regex=True,inplace=True)
df_3['Country'].replace(['BETWEEN PORTUGAL & INDIA','IRAN / IRAQ','EGYPT / ISRAEL','RED SEA?'],np.nan,inplace=True)
df_3['Country'].replace('EQUATORIAL GUINEA / CAMEROON','EQUATORIAL GUINEA',inplace=True)
df_3['Country'].replace('CEYLON (SRI LANKA)','SRI LANKA',inplace=True)
df_3['Country'].replace('UNITED ARAB EMIRATES (UAE)','UNITED ARAB EMIRATES',inplace=True)
df_3['Country'].value_counts().head(20)

usa                 2229
australia           1338
south africa         579
papua new guinea     134
new zealand          128
brazil               112
bahamas              109
mexico                90
italy                 71
fiji                  65
philippines           62
reunion               60
new caledonia         53
cuba                  46
mozambique            45
spain                 44
egypt                 40
india                 40
japan                 34
croatia               34
Name: Country, dtype: int64

###### Sex column 0.34 null values
I this case I try to reemplace the NaN data for a random selectinon of sex. We have different unique values: 

- 'F'
- 'M'
- **nan**
- **'M '**
- **'lli'**
- **'N'**
- **'.'**

marked in bld the characters that I proceed to remove

In [ ]:
import random
fill_list = ["M", "F"]
df_3["Sex_"] = df_3["Sex_"].fillna(pd.Series(np.random.choice(fill_list)))

In [ ]:
df_3.replace({"Sex_": {"nan": " ", "lli": " ", "N": " ", ".": " " }})

In [ ]:
df_3["Sex_"].unique()
df_3['Sex_'] = df_3['Sex_'].astype(str)

In [ ]:
def replace_sex(col):
    chars =  'M ', 'lli', 'N', '.', 'nan'
    for c in chars:
        col = col.replace(c, random.choice(fill_list))
    return(col)

In [ ]:
df_3["Sex_"] = df_3["Sex_"].apply(replace_sex)
df_3["Sex_"].unique()

###### Age
In this case I replace the NaN for the mean values of the mean. First of all  I try to clean all the data. We have several types of error in this column

- Ages in string format
- Ages separated by *&*, *or*, *to*, *>*
- Ages with *?*

In [ ]:
df_3['Age'] = df_3['Age'].astype(str) # To work with re.findall function we need string not integer. 


pattern = "\d+"  #to remove those values with strings or simbols
df_3['Age'] = df_3['Age'].apply(lambda x: re.findall(pattern, x))
df_3

#but now we have some cells with multiple values. I asume that in this attack, one shark attacked many people, hence the  
    #different ages in the same cell
df_3.explode('Age')

df_3['Age'] = df_3['Age'].str.get(0)
df_3

Once I have the column of clean years I process to replace the NaN. in this case, I will substitute the NaN for the mean of this column.

In [ ]:
## first of all we need to convert str to int
df_3["Age"] = df_3["Age"].fillna(-1)
df_3["Age"] = df_3["Age"].astype(int)
df_3["Age"] = df_3["Age"].replace(-1, np.nan)

In [ ]:
def mean_age(col):
    
    mean_age = col.mean()
    return mean_age

In [ ]:
value_to_replace = mean_age(df_3['Age'])
value_to_replace = round(value_to_replace, 2)
value_to_replace

In [ ]:
df_3["Age"] = df_3["Age"].fillna(value_to_replace)

###### Time

In [ ]:
df_3['Time'] = df_3['Time'].str.strip()
df_3['Time'] = df_3['Time'].str.lower()
df_3.loc[df_3['Time'].notnull(),'Time'].sample(20)

In [ ]:
df_3['Time'].replace(['.*evening.*','.*dusk.*',
                         '.*dark.*','.*night.*'],'night',regex=True,inplace=True)

df_3['Time'].replace(['pm','p\.m\.','.*midday.*','.*sunset.*','.*lunchtime.*',
                         '.*noon.*','.*daytime.*','.*afternoon.*'],'afternoon',regex=True,inplace=True)

df_3['Time'].replace(['a\.m\.''am','.*dawn.*',
                         '.*daybreak.*','.*morning.*'],'day-morning',regex=True,inplace=True)

In [ ]:
#grouping 06:00 to 11:59 as day-morning because english is weird
df_3['Time'].replace(to_replace='.*0[6-9].?\d{2}.*',value='day-morning',regex=True,inplace=True)
df_3['Time'].replace(to_replace='.*1[0-1].?\d{2}.*',value='day-morning',regex=True,inplace=True)
#grouping 12:00 to 17:59 as afternoon
df_3['Time'].replace(to_replace='.*1[2-7].?\d{2}.*',value='afternoon',regex=True,inplace=True)
#grouping 18:00 to 23:59 as night
df_3['Time'].replace(to_replace='.*1[8-9].?\d{2}.*',value='night',regex=True,inplace=True)
df_3['Time'].replace(to_replace='.*2[0-3].?\d{2}.*',value='night',regex=True,inplace=True)
#grouping 00:00 to 05:59 as night-morning because english is weird
df_3['Time'].replace(to_replace='.*0[0-5].?\d{2}.*',value='night-morning',regex=True,inplace=True)

In [ ]:
df_3[~df_3['Time'].isin(['day-morning','night-morning','night','afternoon'])]['Time'].count()

In [ ]:
df_3.loc[~df_3['Time'].isin(['day-morning','night-morning','night','afternoon']),'Time'] = np.nan

In [ ]:
df_3['Time'].value_counts(dropna=False)

In [ ]:
df_3

###### Species

In [23]:
df_3['Species_'] = df_3['Species_'].str.lower()
df_3.loc[df_3['Species_'].notnull(),'Species_'].sample(40)

5074                                grey nurse shark, 4'
2137                                        spinner shark
3829                                    1.8 m [6'] shark
505                                         spinner shark
2831                                     1.5 m [5'] shark
967                       shark involvement not confirmed
1151                                       blue shark, 1m
4551                                         "grey shark"
847                                           white shark
2000                                  blacktip shark, 2'
1139                       white shark, 12' to 15' female
2210                                          white shark
3273                                          white shark
4296                                             6' shark
835                                     white shark, 2.5m
626                                              3' shark
3601                                    4.6 m [15'] shark
1307                                         2.27 m shark
2511                two 3 m [10'] oceanic whitetip sharks
4836                                     2.4 m [8'] shark
1233                                             4' shark
2166                                          1.5 m shark
2765                                          white shark
2178                       raggedtooth shark, 1.2 m [4']
4947                3.4 m [11']  tiger shark & a 5' shark
3234                                            10' shark
797                                           white shark
571                                             2 m shark
2963                                     1.5 m [5'] shark
2834                                             1m shark
4790                                     1.5 m [5'] shark
4026    shark involvement prior to death was not confi...
4840                                        basking shark
496                             2 white shark: 13' & 9"8"
2713                                     1.2 m [4'] shark
3742                                             8 sharks
3276                                      5 m white shark
4211    shark involvement prior to death was not confi...
5745                                  4.7 m [15.5'] shark
1810          2.4 m to 3 m [8' to 10'] grey colored shark
Name: Species_, dtype: object

The first step is replace the sharks of doubtful species by NaN

In [ ]:
df_3['Species_'].replace(['.*unconfirmed.*','.* not confirmed.*',
                                '.*questionable.*', '.*foot shark.*',
                                '.*small shark.*', '.*from shark.*',
                                '.*female shark.*', '.*large shark.*',
                                '.*but shark.*', '.*juvenile shark.*',
                                '.*the shark.*','.*two sharkK.*',
                                '.*another shark.*','.*KG SHARK.*',
                                '.*SEVERAL SHARK.*','.*same shark.*',
                                '.*ground shark.*'],
                               np.nan,regex=True,inplace=True)

In [ ]:
df_3.loc[df_3['Species_'].notnull(),'Species_'].sample(10)

In [ ]:
df_3.to_csv("data_visualization2.csv")